* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  text-decoration: none;
  color: inherit;
}

main {
  background-image:
  url(../imagens/couro.jpg);
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.responsivo {
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

.bloco {
  background-image:
  url(../imagens/pano-de-saco.jpg);
  box-shadow: 0px 5px 5px rgba(0,0,0,.2);
  padding: 24px;
  z-index: 99; 
  position: fixed;
  width: 100%;
}

.bloco_icone {
  max-width: 200px;
}

.bloco_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.bloco_itens {
display: none;
}

.bloco_menu-hamburguer img {
border-radius: 2px;
}

.header {
  min-height: 40px;
  height: 600px;
  background-image:
  url(../susane-silva/img/susane-silva.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  align-items: flex-end;
  color: rgba(255, 255, 255, 0.726);
}

.principal {
  margin-bottom: 150px;
}

.principal_titulo {
  text-transform: uppercase;
  font-size: 200%;
  font-weight: 900;
  margin-left: 70%;
  height: 200%;
}

.conteudo-principal{
  background-image:
  url(../imagens/couro.jpg);
  text-align: left;
  right: 50%;
  padding-top: 20%;

}

.titulo_giria{
  font-size: 25px;
  color: black;
  text-align: center; 
  padding: 30px;
  padding-bottom: 20px;
  font-family: 'Roboto Slab';
  margin-left: 5%;
}

.texto_nordeste{
  display: flex;
  align-items: start;
  width: 100%;
}

.imagem_nordeste{
  max-height: 180px;
  padding: 20px;
  border-radius: 25px;
}

.conteudo_sobreAutora{
  color: black;
  padding-right: 40px;
  font-size: 12px;
  padding-top: 18px;
}

.texto_nordeste_pequeno{
  padding-bottom: 10px;
}

@media (min-width: 768px) {

.bloco_itens {
  position: static;
  display: flex;
  padding: 0;
  width: auto;
}

.bloco_nav { 
  color: #000000;
  margin-bottom: 0;
}
  
.bloco_itens ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  text-align: center;
  font-weight: 800;
}
  
.bloco_itens li {
  font-size: 17px;
  margin: 0 5px;
}

.bloco_itens.ativo {
  display: block;
  right: 0;
  top: 85px;
  width: 100%;
  background-color: #eaffbb;
  text-align: center;
  padding: 48px 0;
  transition: right 1s;
}

.bloco_itens li > a {
  transition: all .2s;
}
.bloco_itens li > a:hover {
  color: #8387c0;
}
  
.bloco_menu-hamburguer {
  display: none;
}

.header {
  min-height: 75vh;
  height: 360px;
  background-image:
  url(../susane-silva/img/susane-silva.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content:center;
  color: #fff;
  text-align: left;
  padding: 10px 100px;
}

.principal {
  margin-bottom: 150px;
}

.principal_titulo {
  text-transform: uppercase;
  font-size: 200%;
  font-weight: 900;
  margin-left: 70%;
  height: 200%;

}

.conteudo-principal{
  background-image:
  url(../imagens/couro.jpg);
  margin: 0 auto;
  width: 1020px;
  padding-bottom: 25px;
  padding-top: 10%;
}

.titulo_giria{
  font-size: 25px;
  color: black;
  text-align: center; 
  padding: 30px;
  padding-bottom: 20px;
  padding-right: 70px;
  font-family: 'Roboto Slab';
}

.texto_nordeste{
  width: 100%;
  height: 735px;
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: left;
}

.imagem_nordeste{
  max-height: 180px;
  padding: 20px;
  border-radius: 25px;
}

.conteudo_sobreAutora{
  color: black;
  padding-right: 150px;
  font-size: 17px;
  padding-top: 18px;
}


@media (min-width: 1330px) {

.bloco {
  background-color: #457982;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 24px;
  z-index: 99;
  position: fixed;
  width: 100%;
}

.bloco_icone {
  max-width: 200px;
}

.bloco_box {
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bloco_itens li {
  font-size: 17px;
  margin: 0 5px;
}

.bloco_menu-hamburguer img {
  border-radius: 2px;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

.header {
  min-height: 90vh;
  height: 360px;
  background-image:
  url(../susane-silva/img/susane-silva.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content:center;
  color: #fff;
}

.principal {
  margin-bottom: 250px;
}

.principal_titulo {
  font-size: 50px;
  padding: 40px 200px 0px px;
}

.conteudo-principal{
  background-image:
  url(../imagens/couro.jpg);
  margin: 0 auto;
  width: 1200px;
  padding-bottom: 120px;
  padding-top: 10%;
}

.titulo_giria{
  font-size: 27px;
  color: black;
  text-align: center; 
  padding: 30px;
  padding-bottom: 20px;
  padding-right: 70px;
  font-family: 'Roboto Slab';
}

.texto_nordeste{
  width: 100%;
  height: 470px;
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: left;
}

.imagem_nordeste{
  max-height: 180px;
  padding: 20px;
  border-radius: 25px;
}

.conteudo_sobreAutora{
  color: black;
  padding-right: 150px;
  font-size: 17px;
  padding-top: 18px;
}
}
}